@model IndexPageViewModel
@{
    ViewData["Title"] = $"{nameof(FolderCleaner)} - Home";
    ViewData["Index"] = "active";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-center font-weight-bold">@TempData["SuccessMessage"]</div>
    <br />
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center font-weight-bold">@TempData["ErrorMessage"]</div>
    <br />
}
<div class="row">
    <div class="col-4 font-weight-bold">Path</div>
    <div class="col-3 font-weight-bold">Runs At</div>
    <div class="col-1 font-weight-bold text-center">Active</div>
    <div class="col-1 font-weight-bold text-center">Repeat</div>
    <div class="col-2 font-weight-bold repeatInput show">Repeat Range</div>
</div>
<form asp-action="AddCleaningRecord" method="post">
    <div class="row">
        <div class="col-4">
            <input asp-for="CleaningRecord.Path" class="form-control" />
        </div>
        <div class="col-3">
            <input asp-for="CleaningRecord.RunsAt" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
        </div>
        <div class="col-1">
            <input asp-for="CleaningRecord.IsActive" type="checkbox" class="form-control" />
        </div>
        <div class="col-1">
            <input asp-for="CleaningRecord.Repeat" type="checkbox"  data-toggle="collapse" data-target=".repeatInput" aria-expanded="true" aria-controls=".repeatInput" class="form-control" />
        </div>
        <div class="col-2 repeatInput show" >
            <input asp-for="CleaningRecord.RepeatRange" type="number" value="1" class="form-control" style="border-radius:unset" />
            <select asp-for="CleaningRecord.Time" asp-items="Html.GetEnumSelectList<Time>()" class="form-control" style="padding:unset;border-radius:unset">
            </select>
        </div>
        <div class="col-1">
            <button type="submit" class="btn-sm btn-primary"><i class="fas fa-plus" style="font-size:20px;"></i></button>
        </div>
    </div>
</form>
<br/><br/>
@if (!(Model.CollectionOfCleaningRecords?.Any() ?? false))
{
    <div class="row">
        <div class="col text-center p-2">No entry</div>
    </div>
}
else
{
    <table class="table table-responsive table-sm text-center table-striped table-bordered" style="display:inline-table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>@nameof(CleaningRecord.Path)</th>
                <th>@nameof(CleaningRecord.RunsAt)</th>
                <th>@nameof(CleaningRecord.TotalFiles)</th>
                <th>@nameof(CleaningRecord.CleaningSize)  (bytes)</th>
                <th>@nameof(CleaningRecord.IsActive)</th>
                <th>@nameof(CleaningRecord.Repeat)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CollectionOfCleaningRecords)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Path</td>
                <td>@item.RunsAt</td>
                <td>@item.TotalFiles</td>
                <td>@item.CleaningSize</td>
                <td>
                    @if(item.Repeat || item.RunsAt >= DateTime.Now)
                    {
                        <input type="checkbox" name="isActive" value="true" @(item.IsActive ? "checked=\"checked\"" : "") onclick="return false;" />
                        <div class="btn-sm btn-group">
                            <form asp-action="SwitchCleaningRecordActivity" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn-sm btn-primary"><i class="fas fa-recycle" style="font-size:20px;"></i></button>
                            </form>
                        </div>
                    }
                    
                </td>
                <td>
                    <input type="checkbox" value="true" @(item.Repeat ? "checked=\"checked\"" : "") onclick="return false;" />
                    @(item.Repeat ? $"{item.RepeatRange} seconds" : "")
                </td>
                <td>
                    <div class="btn-sm btn-group">
                        <button type="submit" class="btn-sm btn-danger mr-1" onclick="ChangeValue('@item.Path', '@item.Id')"><i class="fas fa-trash" style="font-size:20px;"></i></button>
                        <form asp-action="ManualCleanUp" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn-sm btn-success"><i class="fas fa-broom" style="font-size:20px;"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="myModal2" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                </div>
                <form name="deleteModal" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label name="confirmMessage">Are you sure you want to continue?</label>
                        </div>
                        <div class="form-group">
                            <label>Path: </label>
                            <input name="deleteContent" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-danger">I'm Sure</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<div class="popover_title" style="display: none">
</div>
<div id="popover_content_wrapper" style="display: none">
    <span id="cart_details"></span>
        <a class="delete_proc" style="font-size:20px;">
            <i class="fa fa-minus-circle text-danger"></i>
        </a>
</div>
<style>
    .fa-minus-circle {
        font-size: 20px;
    }
</style>
@section Scripts{
    <script>
        function ChangeValue(appName, id) {
            document.getElementsByClassName("modal-title")[0].innerHTML = "<button class='btn btn-sm btn-dark' style='background:none !important;border:none;font-size:inherit;color:#000;'><i class='btn btn-sm btn-dark fas fa-ban'></i> | Remove Confirmation</button>";
            document.getElementsByName("deleteModal")[0].setAttribute("action", "/Home/DeleteCleaningRecord/" + id);
            document.getElementsByName("deleteContent")[0].setAttribute("value", appName);
            document.getElementsByName("confirmMessage")[0].textContent = "Are you sure you want to remove this task?";
            $('#myModal2').modal('toggle');
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
}